In [37]:
import numpy as np
import pandas as pd
import os

In [36]:
WDIR = './'
files_list = os.listdir(WDIR)

In [40]:
def create_dataset(files_list):
    all_data = pd.DataFrame(columns=['ID','LEN','SEQ','Type'])
    files_list = [x for x in files_list if x.count('.csv') ==1]
    for file in files_list:
        print(file)
        type_ = file.split('_')[0]
        data = pd.read_csv(''.join(WDIR+file))
        data = data.drop(columns=['DATE'])
        data['Type'] = type_
        all_data = pd.concat([all_data,data])    
    return all_data

In [41]:
all_data = create_dataset(files_list)

bacteria_test.fna_150.csv
archaea_train.fna_100.csv
archaea_train.fna_500.csv
archaea_train.fna_150.csv
bacteria_test.fna_100.csv
bacteria_test.fna_500.csv
archaea_test.fna_100.csv
archaea_test.fna_500.csv
archaea_test.fna_150.csv
bacteria_test.fna_300.csv
archaea_test.fna_300.csv
archaea_train.fna_300.csv
viral_test.fna_100.csv

In [42]:
all_data.head()

,ID,LEN,SEQ,Type
0,NZ_AHCB02000005.1,173242,CGCGATAACAATCATCACCAGTTGAGCACCTATGGTATTGGTAAAG...,bacteria
1,NZ_AHCB02000005.1,173242,GGGCTCTGGTTCACCACTTAAAAACTGCTTATGCCAACCATTTAAA...,bacteria
2,NZ_AEYS01000118.1,1850,GCCCTTTTATTTTATCCCCTTTTCTAAAAAGGACGTCATCTTCAAT...,bacteria
3,NZ_AEYS01000118.1,1850,ATCTATTGCATCTTTAACCGATTTCAACATTTTTTGTTTTTATTAA...,bacteria
4,NZ_AEYS01000283.1,677,TCCCTATAGGAACGTGAATTATACCTGCTTTATCCACCCTGTACTC...,bacteria

In [35]:
all_data.shape

(730209, 3)

In [43]:
from sklearn.cross_validation import train_test_split

In [50]:
train , test, _,_ = train_test_split(all_data,all_data['ID'],test_size=0.2,random_state=2)
train , valid, _,_ = train_test_split(train,train['ID'],test_size=0.15,random_state=2)